body {
    background-color: rgb(15, 15, 15);
    font-family: 'Inter';
    color: white;
    max-width: 100%;
  }
  .sticky {
    position: sticky;
    top: 30px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;    
    }
  #fixed_left {
    margin-left: 30px;
    font-size: 12px;
  }
  #fixed_centre {
    font-size: 16px;
    font-weight:bold;
  }
  #fixed_right {
    margin-right: 30px;
    font-size: 12px;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 29px;
  }
  .about_name {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    margin-top: 325px;
    margin-bottom: 65px;
  }
  .about_text {
    font-size: 24px;
    justify-content: center;
    text-align: center;
    margin-bottom: 325px;
  }
  
  #container {
    font-size:  36px;
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 65px;
  }
  #flip {
    height:30px;
    overflow:hidden;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #flip > div > div {
    color:#ffffff;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  


  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
   .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
   }
  .vertical-line {
    border-left: 2px solid rgb(66, 66, 66);
    height: 150px;
    margin-bottom: 30px;  
  }
  img {
    width: 300px;
    height: auto; 
    border: 2px solid rgb(66, 66, 66);
    margin-bottom: 30px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }
  .photo_name {
    font-size: 32px;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    display: block;
    letter-spacing: -0.5px;
  }
  .photo_text {
    font-size: 16px;
    /*font-weight:bold;*/
    justify-content: center;
    text-align: center;
    /*margin-bottom: 325px;*/
    color: #a8a8a8;
  }

  .title_box { /*Название раздела "Навыки*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    font-size: 45px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .skills_box {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 250px;
      margin-top: 100px;
    }

    .skills_hard_title { /*Блок "Жесткие*/
    color: #a8a8a8;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 7px;
    flex-basis: 30%;
    margin-left: 20%;
    max-width: 100px;
  }

  .skills_hard_text { /*Описание блока "Жесткие*/
    position: relative;
    left: 50px;
    font-size: 32px;
    letter-spacing: -0.5px;
    flex-basis: 70%;
  }

  .skills_soft_title { /*Блок "Мягкие*/
    color: #a8a8a8;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 95px;
    flex-basis: 30%;
    margin-left: 20%;
    max-width: 100px;   
  }

  .skills_soft_text { /*Описание блока "Мягкие*/
    position: relative;
    left: 50px;
    color: #a8a8a8;
    font-size: 20px;
    line-height: 1.5;
    flex-basis: 70%;
    margin-top: 80px;
  }

  #skills_soft_text_title {
    font-size: 32px;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin: auto;
  }

  .skills_soft_text_sep {
    position: relative;
    left: 290px;
    color: #a8a8a8;
    font-size: 20px;
    line-height: 1.5;
    flex-basis: 70%;
    margin-top: 50px;
  }

  .life_path_box { /*Описание блока "Путь"*/
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 250px;
  }

  .life_path_title { /*Блок "Путь"*/
    color: #a8a8a8;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 65px;
    flex-basis: 30%;
    margin-left: 18%;
    margin-right: 20px;
    max-width: 100px; 
    white-space: nowrap;  
  }

  .life_path_text { /*Описание блока "Путь"*/
    position: relative;
    left: 60px;
    color: #a8a8a8;
    font-size: 20px;
    line-height: 1.5;
    flex-basis: 70%;
    margin-top: 50px;
  }

  #life_path_text_title { /*Описание блока "Путь"*/
    font-size: 32px;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin: auto;
  }